@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #121315;
  --darkblue: #001F28;
  --blue: #00A7E2;
  --lightblue: #4BD0F2;
  --bs-primary: #4BD0F2;
  --bs-link-color: #4BD0F2;
  --bs-link-hover-color: #4BD0F2;
  --white: #F8FEFD;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--darkblue);
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */

#navbar {
  background-color: var(--darkblue);
}

#navbar-logo {
  width: 64px;
  height: 64px;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

.nav-link:hover .nav-link:active {
  color: var(--lightblue);
  
}

/* MAIN CONTENT */

#slides-container {
  scroll-snap-type: y mandatory;
}

.hide-scrollbar {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

.slides {
  scroll-snap-align: start none;
}

/* WELCOME SECTION */

.caret {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.social-links, .project-links {
  color: var(--lightblue);
}

.social-links:hover, .project-links:hover {
  color: var(--white);
}

.emoji {
  font-family: 'Noto Color Emoji';
}

/* CONTACT SECTION */

.contact-links {
  color: var(--white);
}

.contact-links:hover {
  color: var(--lightblue);
}

footer {
  font-family: 'Poppins', sans-serif;
}

/* MEDIA QUERIES */

@media (hover: hover) {
  /* when hover is supported */
  a:hover {
    color: var(--lightblue);
  }
}